
:root{
  --var-blue: #0A1951;
  --var-gray-300: #8890B1;
}
.bg-primary{
  background-color: var(--var-blue);
}
.text-primary{
  color: var(--var-blue);
}
.text-secondary{
  color: var(--var-gray-300);
}
.contact input[type="number"]::-webkit-inner-spin-button{
  appearance: none;
}